.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.header-logo {
    position: relative;
    padding-right: 20px;
    border-right: 2px solid black;
    margin-right: 15px;
}

.custom-navbar {
    height: 120px;
}

.custom-navbar .nav-link {
    margin-right: 20px;
}

.custom-navbar .dropdown-item {
    margin-bottom: 10px;
}

.search-icon {
    padding-left: 10px;
}

/* style.css */

/* Your existing styles... */

.nav-link {
    transition: transform 0.2s ease; /* Transition for smooth scaling */
}

.nav-link:hover {
    transform: scale(1.1); /* Scale up the nav link slightly on hover */
}

/* Active link style */
.nav-link.active {
    transform: scale(1.2); /* Keep it slightly bigger */
    font-weight: bold; /* Optional: Make it bold for better visibility */
}
